$uarr-primary: rgb(55, 36, 81);
$uarr-secondary: rgb(124, 95, 160);
$uarr-info: rgb(213, 165, 58);
$uarr-light: rgb(45, 45, 45);
$uarr-dark: rgb(15, 15, 15);
$uarr-white: rgb(160, 160, 160);
$uarr-background: rgb(25, 26, 26);
